@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'inter';
  src: url('./fonts/Inter_18pt-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

*{
  margin:0;
  padding:0;
  font-family: 'inter',sans-serif;
  color:#023350;
}
.slick-dots li button:before {
    font-family: 'slick';
    font-size: 8px;
    line-height: 20px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 10px;
    left: 0;
    width: 8px;
    height: 8px;
    margin-top: 2px;
    content: '•';
    text-align: center;
    opacity: .25;
    color:transparent;
    border: 2px solid green;
    border-radius: 50px;
    -webkit-font-smoothing: antialiased;
}
.slick-dots li.slick-active button:before {
    opacity: .75;
    color: green;
}

.slick-dots li {
  margin: 0px 0px;
}
